@import 'variable.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: $color-text;
}
.main{
    background-color: $color-background;
    display: flex;
    width: 1440px;
    height: 1000px;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.price-card {
    background-color: $color-card-bg;
    width: 380px;
    margin-right: 18px;
    height: 770px;
    &:last-child{
        margin-right: 0;
    }
    &:nth-child(2){
        position: relative;
     overflow: hidden;
    }
    &:nth-child(2)::after{
        content: " ";
        width: 122px;
        height: 123px;
        background-image: url(../images/badge.png);
        z-index: 2;
        position: absolute;
        top: -18px;
        right: -18px;
        
    }
		&__title {
            font-weight: bold;
            font-size: 35px;
            text-align: center;
            margin-top: 33px;
            margin-bottom: 10px;
            line-height: 43px;
		}
		&__subtitle {
            font-size: 20px;
            font-weight: 300;

            display: block;
		}
		&__price {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 105px;
            margin-bottom: 35px;
            font-weight: bold;
            font-size: 55px;
            line-height: 67px;
		}
		&__description {
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            padding: 0 26px 0 26px;
            margin-bottom: 40px;
		}
		&__options-list {
            list-style: none;
            padding: 0;
            margin-bottom: 39px;
		}
		&__list-item {
            line-height: 50px;
            padding-left: 59px;
            height: 50px;
            width: 100%;
            position: relative;
            &::before{
                content: "";
                width: 15px;
                height: 13px;
                position: absolute;
                top: calc(50% - 6.5px);
                left: 22px;
            }
            .price-card:nth-child(1) &::before{
                background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
            }
            .price-card:nth-child(2) &::before{
                background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);
            }
            .price-card:nth-child(3) &::before{
                background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
            }

            &:nth-child(odd){
                background-color: #2A3438;
            }
		}
		&__order-btn {
            border-radius: 20px;
            width: 154px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            font-size: 14px;
            line-height: 17px;
            font-weight: 400px;
            margin-bottom: 40px;
            border: none;
            margin: auto;
            display: block;
            color: $color-text;
		}
}
.color-basic-bg{
    background-color: $color-for-basic;
}
.color-business-bg{
    background-color: $color-for-business;
}
.color-webshop-bg{
    background-color: $color-for-webshop;
}