$color-card-bg: #334247;
$color-background: #141b1c;
$color-text: #fff;
$color-for-basic: #5bb189;
$color-for-business: #3a6ba5;
$color-for-webshop: #ec632a;
$main-size-text: 15px;
$size-text-price: 55px;
$size-text-title: 35px;
$size-text-subtitle: 20px;
$main-line-hight: 18px;
$line-hight-price: 67px;
$line-hight-title: 43px;
$line-hight-subtitle: 24px;
$main-text-family: 'Montserrat', sans-serif;
$main-text-weight: 300;
$secondary-text-weight: 700;
$lg: 400px;
